#root {
  width: 100vw;
  margin: 0;
  height: 100vh;
}

@font-face {
  font-family: 'Code New Roman';
  src: url(/fonts/code-new-roman.regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#editor {
  height: calc(100vh - 22px);
  font-family: 'Code New Roman', Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
}


#statusBar {
  height: 22px;
  padding: 0 8px;
  background-color: #007ACC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
}

.status-item {
  margin-right: 16px;
}